# Binaries
**/bin/
bin-int/
Intermediates/

# Log files
*.log

# Uneeded Documentation
*.html
*.js

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.vcxitems
**.vcxitems.user
**.vcxitems.filters

